
.card {
    min-height: 500px; /* To make loading look nice */
} 
.card-img-top {
    min-height: 348px; /* To make loading look nice */
    height: 100%;
}

.image:hover {
    background-color: #f3f3f3;
    opacity: 80%;
}

a > h5 {
    color: black;
}
