
.bundleContainer {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 40px;
    justify-content: center;
    box-shadow: 0 8px 6px -6px grey;
}
.bundleContainer:hover {
    box-shadow: 0 8px 10px -6px grey;
    opacity: 90%;
}
